.bootstrapicon {
  margin-left: 10px;
	background: none;
	color: inherit;
	border: none;
	padding: 0;
	font: inherit;
	cursor: pointer;
	outline: inherit;
}

.longer-input {
  width: 500px;
}

.tip-text {
  color: #3cff25;
}

.currentComic {
  background-color: #68936b !important;
}
