body {
  width: 600px;
  background-color: #696969;
  color: white;
}

a:visited {
  color: #5be6ff;
}

thead {
  color: white;
}

table {
  width: 100%;
  border-collapse: collapse;
}

th,
td {
  padding: 8px;
  text-align: left;
  border-bottom: 1px solid #ddd;
}

th {
  background-color: #434343;
}

textarea {
  width: 300px;
  height: 200px;
}

.tip-text {
  color: #3cff25;
}

.currentComic {
  background-color: #68936b;
}

.material-symbols-outlined {
  font-variation-settings: "FILL" 0, "wght" 400, "GRAD" 0, "opsz" 48;
}
